.hub {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0 16px 16px;
}

.hub__title {
  color: var(--hulu-green);
}

.hub__hero {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1; /* Place the hero section behind other content */
}

.category {
  width: 100%;
}

.category__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 4px;
}

.category__row {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding: 8px 0;
}

.card {
  flex: 0 0 18%;
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px 4px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:focus {
  outline: none;
  transform: scale(1.1); /* Scale up the card */
  border: 2px solid var(--hulu-green);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px;
  margin: 4px 16px;
}

.card:focus:first-child {
  margin-left: 16px;
}
.card:focus:last-child {
  margin-right: 16px;
}

.card__thumbnail {
  background-color: gray;
  height: 100%;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 2px 4px 2px;
  position: relative;
}

.category--loading .card__title::before,
.category--loading .card__thumbnail::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

/* Skeleton loading animation */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
