:root {
  --hulu-green: #1ce783;
  --hulu-gray: #1e2126;
  --hulu-text: white;
  --hulu-green-light: #1bb159;
  --hulu-green-dark: #0e7c61;
  --hulu-green-darker: #0c6b58;
  --hulu-green-darkest: #044f3c;
  --hulu-green-lighter: #2bcf6e;
  --hulu-green-lightest: #e8f7f2;
}