:root {
  --hulu-green: #1ce783;
  --hulu-gray: #1e2126;
  --hulu-text: white;
  --hulu-green-light: #1bb159;
  --hulu-green-dark: #0e7c61;
  --hulu-green-darker: #0c6b58;
  --hulu-green-darkest: #044f3c;
  --hulu-green-lighter: #2bcf6e;
  --hulu-green-lightest: #e8f7f2;
}

body {
  font-family: 'Archivo', sans-serif;
  margin: 0;
  background-color: var(--hulu-gray);
  color: var(--hulu-text);
}

.hub {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0 16px 16px;
}

.hub__title {
  color: var(--hulu-green);
}

.hub__hero {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1; /* Place the hero section behind other content */
}

.category {
  width: 100%;
}

.category__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 4px;
}

.category__row {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding: 8px 0;
}

.card {
  flex: 0 0 18%;
  height: 160px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
}

.card:focus {
  outline: none;
  border: 2px solid #007acc;
}

.card__thumbnail {
  background-color: gray;
  height: 100%;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 2px 4px 2px;
  position: relative;
}

.category--loading .card__title::before,
.category--loading .card__thumbnail::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal__content {
  background-color: #222;
  color: #fff;
  border-radius: 10px;
  max-width: 800px;
  width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-right: 20px;
}

.modal__close {
  position: absolute;
  right: 12px;
  cursor: pointer;
  font-size: 28px;
  color: #fff;
}

.modal__body {
  display: flex;
  flex-direction: row; /* Adjust for horizontal layout */
  gap: 20px;
  align-items: center;
}

.modal__cover {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px 0 0 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.modal__text {
  max-width: 500px;
}

.modal__text h3, .modal__text h4 {
  margin: 0 0 10px 0;
}

.modal__text p {
  font-size: 16px;
  line-height: 1.5;
}